<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>1</p>
		<p>2</p>
		<p>3</p>
		<p>4<br><a href="%">abc</a></p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Stuff I've Written</h2>
		<hr>

		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>Stuff I've Built</h2>
		<hr>
		<h3><a href="#">Unicasts</a></h3>
		<p class="date">Sangjun Park Comunity</p>
		<h3><a href="#">Unicasts</a></h3>
		<p class="date">Sangjun Park Comunity</p>
		<h3><a href="#">Unicasts</a></h3>
		<p class="date">Sangjun Park Comunity</p>
	</div>
</div>