<h1 id="page_title">프로젝트 목록</h1>

<div id="posts_wrapper" class="skinny_wrapper">
	<% @projects.each do |project| %>
		<div class="post">
			<p class="date"><%= project.created_at.strftime('%A, %B %d') %></p>
			<h2><a href="#"><%= link_to project.title, project %></a></h2>
			<hr>
		</div>
	<% end %>

	<% if user_signed_in? %>
		<div id="admin_links">
			<%= link_to "글 작성하기", new_project_path %>
		</div>
	<% end %>
</div>